{% extends "layout.html"%}

{% block content %}
<div class ="container">
<h4 style ="margin-left:45px">Delete Book ?</h4>
<hr>
<p>

</p style ="margin-left:45px">
Book Id: {{book.id}}<br>
Title : {{book.title}}<br>
Author : {{book.author}}
</p>
<!-- action can be excluded from the form tag and it will still work-->
<form action = {{url_for("main.deleteBook",book_id = book.id)}} method ="post" style ="margin-left:45px">
    <button class = "class='btn btn-primary" type="submit">Delete</button>
</form>

</div>
{%endblock content%}