{% extends "layout.html"%}

{% block content%}

<div class ="container form">
    <h4> Login Here</h4>
 <hr>
 <br>
<form action = "/login" method="post">
    <div class = "form-group">
        <label>Email</label>
        <input name="email" type ="email" required/>
    </div>   
    <div class = "form-group">
    <label>Password</label>
    <input name="password"  type = "password" required/>
    </div> 
    <div class = "btn-align">
        <button class = "class='btn btn-primary" type="LogIn">Submit</button>
    </div>  
    </div>
</form>
{%endblock content%}